services:
    brctx.xrealip.listener:
        class: brctx\xrealip\event\listener
        arguments:
            - '@request'
            - '@language'
        tags:
            - { name: event.listener }
